/* Botão Baixar */
.baixar {
  display: inline-block;
  padding: 11px 20px;
  background-color: var(--text-color-primary);
  color: var(--bg-color);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  outline: 2px solid transparent;
  box-sizing: border-box;
}

.baixar:hover {
  background: linear-gradient(90deg, #FC4A1A, #F7B733);
}

/* Botão Planos */
.planos {
  display: inline-block;
  padding: 10px 20px;
  color: var(--text-color-primary);
  border: 2px solid transparent; /* Borda padrão transparente */
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  border-color: var(--text-color-primary);
  transition: all 0.3s ease;

}

.planos:hover {
  background: #FC4A1A;
  color: var(--bg-color);
  border-color: transparent;
}
