/* Botão Baixar */
.baixar {
  display: inline-block;
  padding: 11px 20px;
  background-color: var(--text-color-primary);
  color: var(--bg-color);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  outline: 2px solid transparent;
  box-sizing: border-box;
}

.baixar:hover {
  background: linear-gradient(90deg, #FC4A1A, #F7B733);
}

/* Botão Planos */
.planos {
  display: inline-block;
  padding: 10px 20px;
  color: var(--text-color-primary);
  border: 2px solid var(--text-color-primary);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
  position: relative;
}

.planos:hover {
  border: 2px solid #FC4A1A;
  color: #FC4A1A;
}
